<div class="card <%= container_class unless container_class.nil? %>">
  <table style="width:100%">
    <tr>
      <td class="picture" valign="top">
        <a href="/<%= rabbi %>/<%= episode %>/<%= video['identifier'] %>">
          <img src="http://files2.yehudim.tv/tvshows/episodes/<%= video['amazon_identifier'] %>.jpg" style="width:100%" />
        </a>
      </td>
      <td>&nbsp;</td>
      <td class="text">
        <a href="/<%= rabbi %>/<%= episode %>/<%= video['identifier'] %>">
          <h3><%= video['title'] %></h3>
          <%= video['description'] %>
        </a>
      </td>
    </tr>
  </table>
</div>