<div class="card <%= container_class unless container_class.nil? %>">
  <table style="width:100%">
    <tr>
      <td class="picture" valign="top">
        <a href="/<%= rabbi %>/<%= episode %>/<%= video['identifier'] %>">
          <img src="http://di4v3vuy8yoph.cloudfront.net/tvshows/episodes/<%= video['amazon_identifier'] %>/imagem.jpg" style="width:100%" />
        </a>
      </td>
      <td>&nbsp;</td>
      <td class="text">
        <a href="/<%= rabbi %>/<%= episode %>/<%= video['identifier'] %>#<%= video['identifier'] %>">
          <% if video['identifier'] == current['identifier'] %>
            <h3 id="<%= video['identifier'] %>" style="font-size:13px"><b>&gt; <%= video['title'] %></b></h3>
          <% else %>
            <h3 style="font-weight:normal"><%= video['title'] %></h3>
          <% end %>
          <%= video['description'] %>
        </a>
      </td>
    </tr>
  </table>
</div>