
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=326707867476374&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="container-fluid" ng-controller="episodeCtrl" ng-init="init('<%= @rabbi %>', '<%= @identifier %>')" ng-show="episode_exist">
  <%if !@episode.nil? && !@episode["videos"].nil? && @episode["videos"].length > 0 %>

    <div class="row">
      <div style="position:absolute;" id="container">
        <video class="video-js vjs-default-skin vjs-controls-enabled" id="player" controls  autoplay
               preload="auto"  width="720" height="480"
               data-setup="{ }">

          <source src="http://files2.yehudim.tv/tvshows/episodes/<%= @episode["videos"][0]["amazon_identifier"] %>/<%= @mobile ? 'l' : 'm' %>.mp4" type='video/mp4'>
          <source src="http://files2.yehudim.tv/tvshows/episodes/<%= @episode["videos"][0]["amazon_identifier"] %>/<%= @mobile ? 'l' : 'm' %>.webm" type='video/webm'>
          <source src="http://files2.yehudim.tv/tvshows/episodes/<%= @episode["videos"][0]["amazon_identifier"] %>/<%= @mobile ? 'l' : 'm' %>.ogg" type='video/ogg'>

        </video>
        <div style="position:relative;float:right">
          <div style="position:absolute;top:-25px;left:5px" class="fb-like" data-href="http://yehudim.tv/<%="#{@rabbi}/#{@identifier}"%>" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>  
        </div>        
      </div>
    </div>
    <% else %>

    <% end %>
</div>

<script>
    _V_("player").ready(function(){

        var myPlayer = this;
        var aspectRatio = 480/720;

        <%if !@mobile %>
            function adjustPlayer(){
                var width = $(window).width();
                var video_width = width*0.5;

                if(video_width < 720) {
                    video_width = 720;
                }

                var pos_h = ((width - video_width) / 2)  + 'px';
                var container = $('#container');

                container.css('left', pos_h);
                container.css('bottom', '75px');
                myPlayer.width(video_width).height( video_width * aspectRatio );
            }
        <% else %>
            function adjustPlayer(){
                var width = $(window).width();
                var video_width = width*0.9;
                var pos_h = ((width - video_width) / 2)  + 'px';
                var container = $('#container');

                container.css('left', pos_h);
                container.css('top', '80px');
                myPlayer.width(video_width).height( video_width * aspectRatio );
            }

        var lastScrollTop = 0;
        $(window).scroll(function(){

            var st = $(this).scrollTop();
            if (st <= lastScrollTop){
                $('.navbar ').show();
            } else {
                $('.navbar ').hide();
            }
            lastScrollTop = st;
        });

        <% end %>
        adjustPlayer(); // Initialize the function
        window.onresize = adjustPlayer; // Call the function on resize
    });
</script>